
.gallarys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

  }
  
  .gallary {
    background-color: rgb(231, 238, 186);
    border: 2px dotted fuchsia;
    color: black;
    padding: 0.75rem;
    margin: 0.5rem;
    width: 200px;
    height: 200px;
 
   }
   .gallary_h1 h1{
    left: 600px;
    top: 10px;
    position: relative;
    /* text-align: left; */
    
    color: fuchsia;
    background-color:  rgb(231, 238, 186);
    width: 180px;
    border-radius: 10px;
margin-top: 10px   }
.gallry-background{
  background-color: lightpink;

}