@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@500&display=swap');



.order {


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: -40px;
  position: relative;


  /* margin-left: 500px;
  margin-right: 520px; */
padding: 10px;

  /*   
  background-color: rgb(232, 142, 57);
 border: 6px solid rgb(119, 71, 71);
  color: blanchedalmond;  */

  justify-content: center;
}


.orderList {
  width: 300px;
  margin: 50px;
  padding: 30px;
  background-color: antiquewhite;
  border-color: rgb(206, 89, 47);
  border: 6px solid rgb(203, 158, 201);
  border-radius: 10px 100px / 120px;  
  
}
.orderMain{
 background-color: pink;


}


.order_h1 h1{
  left: 10px;
  position: relative;
  text-align: center;
  color: rgb(45, 31, 45);
  background-color:  rgb(228, 192, 235);

  width: 400px;
  /* font-family: 'Sansita Swashed', cursive; */
  margin-left: 30%;
  padding: 10px;
  top: 20px;
  border-radius: 50px;

 }

 
.create-bt{
  background-color: rgb(158, 201, 241);
  margin-left: 200px;
  font-weight:700;
  
}
.delete{
  background-color: rgb(219, 64, 95);
  color: rgb(9, 9, 9);
}
