@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sansita+Swashed:wght@500&display=swap');



.order {


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 50px;
  position: relative;


  /* margin-left: 500px;
  margin-right: 520px; */
padding: 10px;

  /*   
  background-color: rgb(232, 142, 57);
 border: 6px solid rgb(119, 71, 71);
  color: blanchedalmond;  */

  justify-content: center;
}


.orderList {
  width: 300px;
  margin: 10px;
  padding: 20px;
  background-color: antiquewhite;
  border-color: rgb(206, 89, 47);
  border: 6px solid rgb(119, 71, 71);
  
}
.orderMain{
  background-color: rgb(143, 199, 83);

}


.order_h1 h1{
  left: 10px;
  position: relative;
  text-align: left;
  color: fuchsia;
  background-color:  rgb(231, 238, 186);
  width: 150px;
  font-family: 'Sansita Swashed', cursive;
  margin: 0px;
  padding: 5px;
  top: 20px;
  left: 20px;
 }
/* html{
  background-color: rgb(110, 123, 134);
}
 */

/* @font-face {
    font-family: "Glegoo";
    src: local("Glegoo"), url(../../Assets/Glegoo-Regular.ttf) format("woff");} */
